* {
    box-sizing: content-box; 
}
#slider {
  background-color: #ffffff;
  padding: 0px 50px 0px 50px;
  height: 100%;
  z-index: 10000;
}
.right-shadow-overlay{
  -webkit-box-shadow: 1px 0px 15px 0px rgba(88,88,88,1);
  -moz-box-shadow: 1px 0px 15px 0px rgba(88,88,88,1);
  box-shadow: 1px 0px 15px 0px rgba(88,88,88,1);
}
.handle {
  right: -40px;
  position: absolute;
  /*background-color: black;*/
  cursor: pointer;
  padding: 10px;
  width: 20px;
}
.handle span {
  /*color: #fff;*/
}
#packing {
  margin: auto;
  background: repeating-linear-gradient(
    -45deg,
    #f1f1f1,
    #f1f1f1 10px,
    #e0e0e0 10px,
    #e0e0e0 20px
  );
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #888888;
}
.input-container {
  float: left;
  width: 90%;
}
.input-area {
  width: 100%;
}
